# Whitelist file, start by ignoring everything
*

# Add bootstrap data
!data/*.parquet

# Add common
!common/**/*.py
!common/pyproject.toml
!common/migrations/alembic.ini
!common/migrations/revisions/*.mako
!common/scripts/*
!common/tools/*

# Add wallet 
!wallet-api/**/*.py
!wallet-api/requirements.txt

# Add event-engine
!event-engine/**/*.py
!event-engine/requirements.txt

# Add dashboard
!dashboard/**/*.py
!dashboard/requirements.txt

# Add scrappers
!market-scrapers/**/*.py
!market-scrapers/requirements.txt
!market-scrapers/scripts/*
